/* remove o fundo azul e a borda de foco azul quando clica no item */
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.clickable-card:active {
    transform: scale(0.98); /* efeito de clique nos cards inicio */
}